<%= @title = 'アカウント情報編集' %>
<h1><%= @title %></h1>
<div class="table-wrapper">
  <div class="links">
    <%= link_to 'アカウント情報編集', :edit_staff_account %>
  </div>

  <div id="generic-form">
    <%= form_for @staff_member, url: :staff_account do |f| %>
      <%= render 'form', f: f %>
      <div class="buttons">
        <%= f.submit '更新' %>
        <%= link_to 'キャンセル', :staff_account %>
      </div>
    <% end -%>
  </div>